.oops{
    font-weight: bolder;
    font-size: 80px;
    color: #FFC107;
    text-shadow: black;
}
.development-image{
    height: 300px;
}
.developer-paragraph{
    text-align: justify;
    margin: 0;
}
.developer-badge{
    color: gray;

}
@media only screen and (max-width: 576px) {
    .responsive-centered{
        text-align: center;
        justify-content: center;
    }
    .responsive-paragraph{
        font-size: 12px;
    }
    .responsive-badge{
        font-size: 12px;
    }
    .responsive-title{
        font-size: 20px;
        font-weight: bold;
    }
  } 